@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a href="mailto:carrieredag.vib@gmail.com">carrieredag.vib@gmail.com</a><br />
    Sanne Ter Dorsthorst: <a href="tel:0612324380">06-12324380</a><br />
    Duncan Vermeer: <a href="tel:0683970203">06-83970203</a>
</p>
<p>
    <b>Vereniging in Beweging</b><br />
    Medische Faculteit D-048
</p>
<p>
    <b>Studentenraad FGB</b><br />
    Medische Faculteit G-616<br />
    Van der Boechorststraat 7-9<br />
    1081 BT Amsterdam
</p>

<a href="http://tinyurl.com/VUcampus">Plattegrond van de campus</a>
